<form method="post" action="/Add" class="adding">
    <p>Add a new book</p>
    <div id="bookName"><label>Book's Name:</label><input name="bookName" type="text" /></div>
    <br>
    <br>
    <div id="authorName"><label>Author Name:</label><input name="authorName" type="text" /></div>
    <br>
    <br>
    <div id="amazonLink"><label>Amazon Link:</label><input name="amazonLink" type="text" /></div>
    <br>
    <br>
    <button type="submit">ADD</button>
</form>