<!doctype html>
<html>
<head>
    <title>home</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css" >
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/style.css" >
</head>
<body>
    {{{body}}}
    <br>
    <br>
    <nav class="navigation-bar">
        [<a href="/home">Homepage</a>]
        [<a href="/Add">Add Book</a>]
        [<a href="/Delete">Delete Book</a>]
    </nav>
</body>
</html>